{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="globale">

        {{ form_start(formUsers)}}

        {{ form_row(formUsers.prenom , {'attr':{'placeholder': 'Nom du livreur' }}) }}
        {{ form_row(formUsers.age , {'attr':{'placeholder': 'Nom du livreur' }}) }}


        <button type="submit" class="btn-success">Modifier un élève</button>

        {{form_end(formUsers)}}
    </div>
{% endblock %}
