{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="globale">
        <div class="personna">
            <select class="pe-dropbox" id="select">
                {% for utilisateur in utilisateurs %}
                    <option value="{{ utilisateur.id }}">{{ utilisateur.prenom }}</option>
                {% endfor %}
            </select>
            <input class="pe-input" type="submit" value="Analyser" onclick="redirect()">

        </div>
        <div class="container1">
            <div class="banania1">
                {% for utilisateur in utilisateurs %}
                    <div class="card col" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ utilisateur.id }}</h5>
                            <h5 class="card-title">{{ utilisateur.prenom }}</h5>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="banania2"></div>
            <div class="banania3"></div>
        </div>
    </div>
{% endblock %}
