{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="globale">
    <div class="personna">
            <select class="pe-dropbox" id="select">
                <option value="43">Johan</option>
                <option value="47">Evan</option>
                <option value="58">léo</option>
                <option value="49">Francis</option>
            </select>
            <input class="pe-input" type="submit" value="Analyser" onclick="redirect()">

    </div>
    <div class="container1">
        <div class="banania1">
                        <h5 class="card-title">{{ utilisateur.id }}</h5>
                        <h5 class="card-title">{{ utilisateur.prenom }}</h5>
        </div>
        <div class="banania2"></div>
        <div class="banania3"></div>
    </div>
</div>
{% endblock %}
