{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="globale">
    <div class="personna">
            <select class="pe-dropbox" id="select">
                <option value="Johan">Johan</option>
                <option value="Evan">Evan</option>
                <option value="Léo">léo</option>
                <option value="Francis">Francis</option>
            </select>
            <input class="pe-input" type="submit" value="Analyser" onclick="redirect()">

    </div>
    <div class="container1">
        <div class="banania1"></div>
        <div class="banania2"></div>
        <div class="banania3"></div>
    </div>
</div>
{% endblock %}
