{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<div class="globale">
    <div class="personna">
        <form action="" class="pe-form">
            <select class="pe-dropbox">
                <option value="Johan">Johan</option>
                <option value="Evan">Evan</option>
                <option value="Léo">léo</option>
                <option value="Francis">Francis</option>
            </select>
            <input class="pe-input" type="submit" value="Analyser">
        </form>
    </div>
    <div class="container1">
        <div class="banania1"></div>
        <div class="banania2"></div>
        <div class="banania3"></div>
    </div>
</div>
{% endblock %}
