
h1{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

#map{
    width: 100vw;
    height: 80vh;
}
.contentBTN{
    width: 100vw;
    text-align: center;
    padding-top: 10px;
}
input{
    font-family: 'Montserrat', sans-serif;
    width: 20vw;
    height: 5vh;
    background-color: white;
    border: solid 1 px blue;
}
#Historique{
    font-family: 'Montserrat', sans-serif;
}